.text-field {
    -fx-background-color: #546E7A;
    -fx-font-weight: bold;
    -fx-font-family: CCBackBeat;
    -fx-background-radius: 0 0 0 0;
    -fx-text-fill: white;
}

.list-cell .label {
    -fx-font-size: 10;
}

.button-send
{
    -fx-background-radius: 0 0 0 0;
}