.root{
    -fx-font-family: Supercell-Magic;
    -fx-focus-color:transparent;
    -fx-padding:10;
    -fx-background-color:#263238;
    -fx-text-fill: white;
}

.list-view
{
    -fx-background-color:transparent;
    -fx-font-family: CCBackBeat;
}

.list-cell {
    -fx-font-family: CCBackBeat;
    -fx-background-color:transparent;
}

.tab-pane {

}

.tab:selected {
    -fx-background-color: #78909C;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #263238;
        -fx-focus-color:transparent;

}

.tab:selected .tab-label {
    -fx-text-fill: #ECEFF1;
}

.tab .tab-label {
    -fx-text-fill: #263238;
}

.tab-pane .tab-content-area
{
    -fx-background-color:#455A64;
}



.button {
    -fx-background-color: lightblue;
    -fx-text-fill: black;
    -fx-font-size: 10;
    -fx-fit-to-height: true;
}

.button:hover {
    -fx-background-color: yellowgreen;
    -fx-text-fill: black;
}

.label-status {
    -fx-text-fill: gold;
    -fx-font-weight: bold;
}

.label-status-text {
    -fx-text-fill: white;
}

.label-title {
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-font-size: 15
}

.button-back {
    -fx-background-color: transparent;
        -fx-padding:5;
}