.tab-pane {
    -fx-background-color: black;
}

.tab {
    -fx-background-color: #ECEFF1;
}

.tab:selected {
    -fx-background-color: #263238;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #607D8B;

}

.tab:selected .tab-label {
    -fx-text-fill: #ECEFF1;
}

.tab .tab-label {
    -fx-text-fill: #263238;
    -fx-font-family: Supercell-Magic;
}



.button {
    -fx-background-color: lightblue;
    -fx-text-fill: black;
    -fx-font-family: Supercell-Magic;
    -fx-font-size: 10;
    -fx-fit-to-height: true;
}

.button:hover {
    -fx-background-color: yellowgreen;
    -fx-text-fill: black;
    -fx-font-family: Supercell-Magic;
}

.vbox {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.label-status {
    -fx-text-fill: gold;
    -fx-font-weight: bold;
    -fx-font-family: Supercell-Magic;
}

.label-status-text {
    -fx-text-fill: white;
    -fx-font-family: Supercell-Magic;
}

.label-title {
    -fx-font-family: Supercell-Magic;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.button-back {
    -fx-background-color: pink;
}