.list-cell-player .list-cell:odd {
    -fx-background-color: #546E7A;
}

.list-cell-player .list-cell:even {
    -fx-background-color: transparent;
}

.list-cell-player .list-cell .label {
    -fx-text-fill: #ECEFF1;
}

.list-cell-player .list-cell:selected {
    -fx-background-color: #B0BEC5;
}

.list-cell-player .list-cell:selected .label {
    -fx-text-fill: #263238;
}

.list-cell-player .list-cell:filled:hover {
    -fx-background-color: #78909C;
}